<!DOCTYPE html>

<style>

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.highlights .card {
    /* Add shadows to create the "card" effect */
    /*box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);*/
    transition: 0.3s;
    border-radius: 4px;
    height: 100%;
    padding: 3rem;
    width : 20%;    
}

.highlights .card1 {
    /* Add shadows to create the "card" effect */
    height: 100%;
    padding: 3rem;
    width : 33.3%; 
    align:center;  
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
}
/* Add some padding inside the card container */
.container1 {
    padding: 2px 16px;
}

.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.imageClass{
    display:inline;
    list-style-type:none;
}

header.special {
  text-align: center;
  margin-bottom: 4rem; }
  header.special p {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; }

.inner {
    margin: 0 auto;
}

.def {
  width:40%;
}
</style>
<script>
  function checkSelected(element) {
    var count1 = 0;
    var count2 = 0;
    var group = document.getElementsByName("strategy");
    for (var i = 0; i < 5; i++) {
      if (group[i].checked) {
        count1 = count1 + 1
      }
    }
    for (var i = 5; i < 7; i++) {
      if (group[i].checked) {
        count2 = count2 + 1
      }
    }
    console.log(count1);
    if(count2 > 0){
      if(count1 > 0){
        alert('PLEASE ONLY SELECT STRATEGY OR RISK APPETITE!');
      }
      if(count2 > 1){
        alert('PLEASE ONLY SELECT ONE RISK APPETITE!');
      }
    }
    else{
      if (count1 > 2){
      alert('PLEASE SELECT NO MORE THEN 2 STRATEGIES!');
      element.checked = false;
    }
    }
  }
  function checkSubmit(element) {
    var count = 0;
    var group = document.getElementsByName("strategy");
    for (var i = 0; i < group.length; i++) {
      if (group[i].checked) {
        count = count + 1
      }
    }
    if (count < 1)
    {
      alert('PLEASE SELECT STRATEGY OR RISK APPETITE!');
      return false;
    } else {
      return true;
    }
  }
</script>

{% extends "bootstrap/base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
  utils module here to automatically render Flask's flashed messages in a
  bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-theme.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/carousel.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/workaround.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap.js') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='js/npm.js') }}">
      <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
       <title>Stock Portfolio Suggestion Engine</title>
   </head>

<body class="is-preload">
{% block content %}
<!-- Header -->
<!-- <div class="special" style="background:url('../static/images/stock_back_down.jpg') no-repeat; height:150px" align="center" >
  <h2 >STOCK PORTFOLIO SUGGESTION ENGINE</h2>
</div>
 -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" >
         <div class="carousel-inner" role="listbox">
            <div class="item active">
               <img class="first-slide" src="../static/images/stock_background.jpg" alt="First slide">
               <span style="position: absolute; absolute; absolute; left: 25%; top: 25%;  color：white"><h1 style="color：#FBFCFC "><font style = "special" color="white">STOCK PORTFOLIO SUGGESTION ENGINE</h1></span>

            </div>
         </div>
      </div>
<div>

 
  <div class = "inner" style = "font-family: Raleway, Arial, Helvetica, sans-serif; margin-top: 2%" >
      <form id="contact"  onsubmit="return checkSubmit(this)" method="post" action="/stockportfolio" class="container">
      <fieldset>
        <div class="form-group" style = "font-family: Raleway, Arial, Helvetica, sans-serif">
          <div>
          <h4><font style = "special" color="#17202A">ENTER INVESTMENT VALUE: $ <input padding = " 0 0 0 30px" type="number" class="form-inline" id="investment_value" name="investment_value" placeholder="Minimum is 5000 " min="5000" required /></h4>
          <!-- <input type="number" class="form-control" id="investment_value" name="investment_value" placeholder="Minimum is $5000 " min="5000" required/> -->
        </div>
          
        </div>
        <div style = "margin-top: 5%">
            <h4 style = "margin-right: 5%"><font style = "special" color="#17202A">PLEASE SELECT INVESTING STRATEGIES ( MAX 2 Choices ) :</h4>
        </div>
        <div class="highlights">
	        <div class="card">
	          <div class="container1" style="margin-top: 5%; margin-bottom: 5%">
	            <div style = "margin-bottom: 5%">
	            	<img class="img-circle" src="../static/images/ethicalInvesting.jpeg" alt="Avatar" width="120" height="120">
	            	<!-- <img class="img-circle" src="../static/images/ethicalInvesting.jpeg" alt="Avatar" style="width:300px; height:300px;"> -->
	            </div>
	            <div>
	            	<input style="margin-top: 10px;" class= "single-checkbox" type="checkbox" onclick="checkSelected(this)" name="strategy" value="Ethical Investing"/>
	            	<h4 style="letter-spacing: 0.15em; margin-top: -19px; margin-left: 20px; font-family: Raleway, Arial, Helvetica, sans-serif;">ETHICAL</h4>
	            </div>
	          </div>
	        </div>

	        <div class="card">
	          <div class="container1" style="margin-top: 5%; margin-bottom: 5%">
	              <div style = "margin-bottom: 5%">
	              	<!-- <img src="../static/images/growthInvesting.jpeg" alt="Avatar" style="width:300px; height:300px;"> -->
	              	<img class="img-circle" src="../static/images/growthInvesting.jpeg" alt="Avatar" width="120" height="120">
	              </div>
	              <div><input style="margin-top: 10px;" class= "single-checkbox" type="checkbox" onclick="checkSelected(this)" name="strategy" value="Growth Investing"/><h4 	style=" letter-spacing: 0.15em; margin-top: -19px; margin-left: 20px; font-family: Raleway, Arial, Helvetica, sans-serif;">GROWTH</h4>
		          </div>
	          </div>
	        </div>

	        <div class="card">
	          <div class="container1" style="margin-top: 5%; margin-bottom: 5%">
	              <div style = "margin-bottom: 5%">
	              	<img class="img-circle" src="../static/images/indexInvesting.jpeg" alt="Avatar" width="120" height="120">
	              </div>
	              	<!-- <img src="../static/images/index.jpg" alt="Avatar" style="width:300px; height:300px;"></div> -->
	              <div>
	              <input style="margin-top: 10px;" class= "single-checkbox"  type="checkbox" onclick="checkSelected(this)" name="strategy" value="Index Investing"/><h4 style="letter-spacing: 0.2em;margin-top: -19px; margin-left: 30px; font-family: Raleway, Arial, Helvetica, sans-serif;">  INDEX </h4>
	              </div>
	            </div>
	        </div>

	        <div class="card">
		        <div class="container1" style="margin-top: 5%; margin-bottom: 5%">
		            <div style = "margin-bottom: 5%">
		            	<img class="img-circle" src="../static/images/qualityInvesting.jpeg" alt="Avatar" width="120" height="120">
		            	<!-- <img src="../static/images/quality.jpg" alt="Avatar" style="width:300px; height:300px;"> -->
		            </div>
		            <div>
		            	<input style="margin-top: 10px;" class= "single-checkbox"  type="checkbox" onclick="checkSelected(this)" name="strategy" value="Quality Investing"/><h4 style=" letter-spacing: 0.15em;margin-top: -19px; margin-left: 20px; font-family: Raleway, Arial, Helvetica, sans-serif;">QUALITY</h4>
		        	</div>
		         </div>
		    </div>
	        
	        <div class="card">
	           <div class="container1" style="margin-top: 5%; margin-bottom: 5%">
	              <div style = "margin-bottom: 5%">
	              	<img  class="img-circle" src="../static/images/valueInvesting.jpg" alt="Avatar"  width="120" height="120">
	              </div>
	              <div>
	              	<input style="margin-top: 10px;"class= "single-checkbox" type="checkbox" onclick="checkSelected(this)" name="strategy" value="Value Investing"/><h4 style="letter-spacing: 0.2em; margin-top: -19px; margin-left: 30px; font-family: Raleway, Arial, Helvetica, sans-serif;">VALUE</h4>
	              </div>
	           </div>
	        </div>

          <div class="form-group" style = "font-family: Raleway, Arial, Helvetica, sans-serif">
          <div>
          <h5><font style = "special" color="#17202A">*NO IDEA ABOUT STRATEGY, JUST CHOOSE YOUR RISK APPETITE: 
            <input style="margin-left: 10px;"class= "single-checkbox" type="checkbox" onclick="checkSelected(this)" name="strategy" value="Low Risk"/> LOW RISK
            <input style="margin-left: 10px;"class= "single-checkbox" type="checkbox" onclick="checkSelected(this)" name="strategy" value="High Risk"/> HIGH RISK</h5>
        </div>
	         </fieldset>
    </form>

	        <div class="card1" align="center">
	                  <input class = "btn btn-primary btn-block" type="submit" name="submit" id="submit"  value="S U B M I T">
	        </div>
  {%- endblock %}
</body>
</html>


